@charset "UTF-8";

.index-category {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	float: left;
}

.index-category-icon {
	font-size: 102px;
}

.index-category-div {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.index-category-child-div {
	width: 20%;
	text-align: center;
}

.index-category-child-div div {
	overflow-wrap: anywhere;
	padding: 3px 20px;
}

.index-category-child-div div::before {
	content: "";
	display: block;
	width: 60px;
	height: 1px;
	background: blue;
	margin: 10px auto;
}

.category-header-font {
	font-weight: 700;
	font-size: 15px;
	color: #555;
}

.searchDiv, .pagingDiv {
	text-align: center;
	padding-top: 20px;
}

.categoryDiv {
	text-align: left; 
	padding-left: 10px;
	padding-top: 20px;
}

.clothesSearch {
	text-align: center;
	padding-bottom: 45px;
	padding-top: 45px;
}

.listTablebody {
	border-bottom: 1px solid #ddd;
}

.listRow>td, th {
	font-size: 12px;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}

.listRow>#nno, #writer, #moddate, #viewCnt {
	text-align: center;
}

.listTh {
	border-top: 2px solid #ddd;
}

.listTh>th {
	text-align: center;
	background-color: #f8f8f8;
}

.itemsDiv {
	display: flex;
	flex: 1px;
	flex-direction: row;
	flex-wrap: wrap;
}

.pickItem {
	width: 20%;
	text-align: center;
}

.pickItem>div {
	overflow-wrap: anywhere;
	padding: 3px 20px;
}

.aside-header {
	font-size: 30px;
}

.aside-header::after {
	content: "";
	display: block;
	width: 60px;
	height: 1px;
	background: black;
	margin: 10px auto;
}

.aside-header>nav>ul>li {
	margin-bottom: 10px;
}

.loginInput {
	height: 30px;
	padding: 6px 25px;
}

.add-ons, .idForm, .passwordForm>div {
	text-align: left;
}

.add-ons {
	padding-left: 10px;
}

.add-ons>span {
	margin-right: 15px;
	font-size: 11px;
	vertical-align: middle;
}

.loginButton {
	text-align: left;
	display: flex;
	flex: 1;
}

.login {
	width: 75%;
	margin-right: 3px;
}

.joinUs {
	width: 25%;
	padding-left: 0px;
	padding-right: 0px;
}

.locationDiv > h3{
	text-align: right;
	font-size: 11px;
}

.lastUpdate {
	text-align: right;
}

.lastUpdate > span {
	font-size: 12px;
	color: #999;
}


.filterDiv {
	text-align: right;
	margin-bottom: 10px;
}

.filterSelect {
	min-width: 70px;
	padding: 5px 5px;
	font-size: 12px;
	font-weight: 700
}

.notice-header-title {
	font-size: 35px;
}

.notice-header-subTitle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.notice-header-subTitle>div {
	text-align: center;
	font-weight: 700;
}

.notice-header-subTitle>div>p {
	color: black;
}

.getTitle {
	text-align: left;
	font-size: 30px;
}

.getHeader {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	font-size: 12px;
	padding: 15px 20px;
	display: flex;
	flex: 1;
	flex-direction: row;
}

.getHeader>div {
	width: 60%;
}

.getHeader>ul {
	width: 40%;
	text-align: right;
	padding-left: 0px;
}

.getHeader>ul>li {
	display: inline-block;
}

.getHeader>ul>li:before {
	
}

.getContent {
	padding: 15px 15px;
	font-size: 12px;
}

.footerBtn {
	padding-top: 25px;
	float: right;
}

.getFooter {
	border-top: 1px solid #dedede;
}

.customBtn {
	display: inline-block;
	min-width: 100px;
	text-align: center;
	background: #888;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	padding: 0 15px;
	vertical-align: middle;
	border: 0;
	height: 25px;
}

.tabTitle {
	display: table;
	width: 100%;
	border-bottom: 2px solid #999;
	table-layout: fixed;
}

.tabTitle>li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

.tabTitle>li>p {
	margin: 10px 0px;
	font-size: 12px;
	font-weight: 700;
	color: #999;
	/* 	color: #f3f3f3;
	background-color: #333; */
}

.tabTitle>li.active {
	background-color: #333;
}

.tabTitle>li.acitve>p {
	color: #f3f3f3;
}

.pageRow>a {
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #D3D6DF;
	line-height: 30px;
	overflow: hidden;
	font-size: 13px;
}

.pageRow>a.active {
	background-color: #eee;
	color: #000;
}

.sellerRow {
	display: flex;
	flex: 1;
	flex-direction: row;
	margin-top: 10px;
}
.sellerRow > .sellerBox {
	border: 1px solid #ddd;
	font-size: 12px;
	padding:0 8px;
	padding-top: 1px;
	color: #999;
	margin-right: 10px;
}

.infoBox {
	padding: 15px;
}

.of-wrap {
	overflow-wrap: anywhere;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}