@charset "UTF-8";

.index-category {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	float: left;
}

.index-category-icon {
	font-size: 102px;
}

.index-category-div {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.index-category-child-div {
	width: 20%;
	text-align: center;
}

.index-category-child-div div {
	overflow-wrap: anywhere;
	padding: 3px 20px;
}

.index-category-child-div div::before {
	content: "";
	display: block;
	width: 60px;
	height: 1px;
	background: blue;
	margin: 10px auto;
}

.category>h3 {
	font-weight: 700;
	font-size: 15px;
	color: #555;
}

.searchDiv, .pagingDiv {
	text-align: center;
	padding-top: 20px;
}

.categoryDiv {
	text-align: left;
	padding-left: 10px;
	padding-top: 20px;
}

.clothesSearch {
	text-align: center;
	padding-bottom: 45px;
	padding-top: 45px;
}

.searchForm>input {
	height: 30px;
	padding: 5px 5px;
}

.listTablebody {
	border-bottom: 1px solid #ddd;
}

.listRow>td, th {
	font-size: 12px;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}

.listRow>#nno, #writer, #moddate, #viewCnt {
	text-align: center;
}

.listTh {
	border-top: 2px solid #ddd;
}

.listTh>th {
	text-align: center;
	background-color: #f8f8f8;
}

.itemsDiv {
	display: flex;
	flex: 1px;
	flex-direction: row;
	flex-wrap: wrap;
}

.pickItem {
	width: 20%;
	text-align: center;
	min-height: 200px;
	height: 250px;
}

.pickItem>div {
	overflow-wrap: anywhere;
	padding: 3px 20px;
}

.listAside {
	float: left;
	width: 10%;
	text-align: center;
}

.aside-header {
	font-size: 30px;
}

.aside-header::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: black;
	margin: 10px auto;
}

.aside-header>nav>ul>li {
	margin-bottom: 10px;
}

.listAside-nav > ul {
	margin: 20px;
}

.listAside-nav > ul > li {
	font-weight: 700;
	font-size:15px; 
	color:#555; 
	line-height:40px;
}

.listImg {
	min-width:50%;
	max-width:70%; 
	min-height: 70%;
}

.loginInput {
	height: 30px;
	padding: 6px 25px;
}

.add-ons, .idForm, .passwordForm>div {
	text-align: left;
}

.add-ons {
	padding-left: 10px;
}

.add-ons>span {
	margin-right: 15px;
	font-size: 11px;
	vertical-align: middle;
}

.loginButton {
	text-align: left;
	display: flex;
	flex: 1;
}

.login {
	width: 75%;
	margin-right: 3px;
}

.joinUs {
	width: 25%;
	padding-left: 0px;
	padding-right: 0px;
}

.title {
	font-size: 18px;
	font-weight: 700;
	padding: 0px;
}

.locationDiv>h3 {
	text-align: right;
	font-size: 11px;
}

.signUp-header>.header-title, .header-location {
	display: inline-block;
}

.signUp-header>.header-title {
	font-size: 19px;
}

.signUp-header>.header-location {
	text-align: right;
	font-size: 11px;
}

.signUpForm {
	padding: 50px 25px 100px;
}

.like-table {
	margin-top: 10px;
	width: 100%;
	table-layout: fixed;
}

.like-table>thead>tr {
	min-height: 45px;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}

.like-table>thead>tr>th {
	padding: 15px 0px;
	background-color: #f8f8f8;
	text-align: center;
}

.like-table > tbody > tr {
	height: 200px;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
}

.input-table {
	margin-top: 10px;
	width: 100%;
	table-layout: fixed;
	border-top: 5px solid #e8e8e8;
}

.input-table>tbody>tr {
	height: 35px;
	border-bottom: 1px solid #e8e8e8;
}

.input-table>tbody>tr>th {
	padding: 8px 10px 8px 20px;
	background-color: #f8f8f8;
	width: 20%;
}

.input-table>tbody>tr>td {
	padding: 8px 10px;
}

.input-table>tbody>tr>td>input {
	height: 25px;
	width: 200px;
	padding: 5px 8px;
	border: 1px solid #ccc;
}

.addressDiv {
	margin-top: 5px;
}

.addressDiv>input {
	width: 250px;
	height: 25px;
	padding-left: 8px;
}

.required::after {
	content: "*";
	color: #e00;
	margin-left: 5px;
	display: inline-block;
}

.lastUpdate {
	text-align: right;
}

.lastUpdate>span {
	font-size: 12px;
	color: #999;
}

.filterDiv {
	text-align: right;
	margin-bottom: 10px;
}

.filterSelect {
	min-width: 70px;
	padding: 5px 5px;
	font-size: 12px;
	font-weight: 700
}

.notice-header-title {
	font-size: 35px;
}

.notice-header-subTitle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.notice-header-subTitle>div {
	text-align: center;
	font-weight: 700;
}

.notice-header-subTitle>div>p {
	color: black;
}

.getTitle {
	text-align: left;
	font-size: 30px;
}

.getHeader {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	font-size: 12px;
	padding: 15px 20px;
	display: flex;
	flex: 1;
	flex-direction: row;
}

.getHeader>div {
	width: 60%;
}

.getHeader>ul {
	width: 40%;
	text-align: right;
	padding-left: 0px;
}

.getHeader>ul>li {
	display: inline-block;
}

.getHeader>ul>li:before {
	
}

.getContent {
	padding: 15px 15px;
	font-size: 12px;
}

.footerBtn {
	padding-top: 25px;
	float: right;
}

.getFooter {
	border-top: 1px solid #dedede;
}

.customBtn {
	display: inline-block;
	min-width: 100px;
	text-align: center;
	background: #888;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	padding: 0 15px;
	vertical-align: middle;
	border: 0;
	height: 25px;
}

.tabTitle {
	display: table;
	width: 100%;
	border-bottom: 2px solid #999;
	table-layout: fixed;
}

.tabTitle>li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

.tabTitle>li>p {
	margin: 10px 0px;
	font-size: 12px;
	font-weight: 700;
	color: #999;
	/* 	color: #f3f3f3;
	background-color: #333; */
}

.tabTitle>li.active {
	background-color: #333;
}

.tabTitle>li.acitve>p {
	color: #f3f3f3;
}

.pageRow>a {
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #D3D6DF;
	line-height: 30px;
	overflow: hidden;
	font-size: 13px;
}

.pageRow>a.active {
	background-color: #eee;
	color: #000;
}

.sellerRow {
	display: flex;
	flex: 1;
	flex-direction: row;
	margin-top: 10px;
}

.sellerRow>.sellerBox {
	border: 1px solid #ddd;
	font-size: 12px;
	padding: 0 8px;
	padding-top: 1px;
	color: #999;
	margin-right: 10px;
}

.infoBoxHead {
	flex: 3;
}

.infoBox {
	padding: 0 15px 15px 15px;
	width: 50%;
	min-height: 600px;
	border: 1px solid #999;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.infoBoxFoot {
	text-align: center;
	padding: 3px;
}

.goods-add-btn {
	text-align: center;
	padding-top: 30px;
}

.goods-add-btn>button {
	background-color: #3737ee;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	border-radius: 9px;
	line-height: 50px;
	font-weight: 700;
	border: 1px solid #3737ee;
	padding: 0px 40px;
}

.register-buttonRow {
	margin-top: 50px;
	text-align: center;
}

.register-buttonRow>.regBtn {
	border: 1px solid #000;
	background: #000;
	min-width: 100px;
	min-height: 25px;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	padding: 0 15px;
}

.register-buttonRow>.listBtn {
	border: 1px solid #888;
	background: #888;
	min-width: 100px;
	min-height: 25px;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	padding: 0 15px;
}

.signup-buttonRow {
	margin-top: 50px;
	text-align: center;
}

.signUp-btn {
	border: 1px solid #000;
	background: #000;
	min-width: 200px;
	min-height: 45px;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding: 0 15px;
}

.existcheck-btn {
	border: 1px solid #888;
	background: #888;
	min-width: 100px;
	min-height: 25px;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	padding: 0 15px;
}

.small-btn {
	border: 1px solid #888;
	background: #888;
	min-width: 50px;
	min-height: 25px;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	padding: 0 15px;
}

.small-btn2 {
	border: 1px solid black;
	background: white;
	min-width: 50px;
	min-height: 25px;
	color: #black;
	font-weight: 700;
	font-size: 13px;
	padding: 0 15px;
}

.guide {
	font-size: 12px;
	color: #888;
}

.uploadRow {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.uploadLi {
	display: inline-block; 
	position: relative; 
	margin-right: 5px;
}

.uploadLi > button {
	position: absolute; 
	right: 0;
}

.uploadLi > p {
	min-width: 125px; 
	font-size: 12px; 
	font-weight: 700; 
	color: #999; 
	text-align: center; 
	margin-top: 10px;
}

.uploadImage {
	width: 100%;
	min-height: 130px;
}

.getBody {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.imgBox {
	width: 50%;
	min-height: 600px;
	text-align: center;
}

.bigPictureWrapper {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top:0%;
	width:100%;
	height:100%;
	background-color: black; 
	z-index: 100;
	background:rgba(255,255,255,0.5);
}
.bigPicture {
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
}

.bigPicture img {
	width:600px;
}

.replyUL {
	padding: 5px;
	border-bottom: 1px solid #dedede;
}

.detailsRow {
	text-align: right; 
	font-size: 14px;
}

.detailsInfo {
	padding:30px 10px;
}

.detailsInfo > div {
	padding-bottom: 30px;
}

.of-wrap {
	overflow-wrap: anywhere;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}